*{
	margin: 0;
}
#header{
	position: sticky; top: 0;
	width: auto;
	height: 65px;
	background-color: whitesmoke;
	text-align: right;
	padding-top: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .7;
}
#woba{
	width: 110px;
	height: 70px;
	position: absolute; top: 13%; left: 5%;
}
ul{
	list-style: none;
	font-size: 20px;
	font-family: sans-serif;
}
li{
	display: inline;
	margin-right: 50px;
}
a{
	text-decoration: none;
	color: black;
}
footer{
	font-size: 14px;
	font-family: Helvetica;
	margin-top: 80px;
	height: 30px;
	width: auto;
	background-color: #D5D5D5;
	text-align: center;
	border-top: 1px solid #BCBCBC;
	padding-top: 10px;
}
#content{
	margin-top: 20px;
	width: 50%;
	margin-left: 25%;
}
#contenthead{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: Baskerville;
}
#hr1{
	margin-top: 10px;
	margin-left: 300px;
	margin-right: 300px;
	height: 2px;
	background-color: black;
}
#contentp1{
	font-size: 35px;
	font-weight: bold;
	margin-top: 90px;
	font-stretch: 2px;
}
#hr2{
	margin-top: 35px;
	margin-left: 40px;
	margin-right: 500px;
	height: 2px;
	background-color: gray;
}
#contentsubhead{
	margin-top: 35px;
	font-family: Baskerville;
	font-size: 30px;
	font-weight: 700;
}
#contentdp{
	margin-top: 35px;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 35px;
	word-spacing: 1px;
}