*{
	margin: 0;
}
#header{
	width: auto;
	height: 65px;
	background-color: whitesmoke;
	text-align: right;
	padding-top: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .7;
}
#woba{
	width: 110px;
	height: 70px;
	position: absolute; top: 2%; left: 5%;
}
ul{
	list-style: none;
	font-size: 20px;
	font-family: sans-serif;
}
li{
	display: inline;
	margin-right: 50px;
}
a{
	text-decoration: none;
	color: black;
}
h2{
	font-family: var(--headingsAndButtonsFont);
	font-size: 40px;
	margin-top: 70px;
	text-align: left;
}
h3{
	color: #1C1C1C;
	margin-top: 20px;
	font-size: 30px;
}
p{
	display: block;
	font-family: Helvetica;
	font-size: 20px;
	margin-top: 20px;
}
footer{	
	font-size: 20px;
	font-family: Helvetica;
	margin-top: 70px;
	height: 30px;
	width: auto;
	background-color: #D5D5D5;
	text-align: center;
	border-top: 1px solid #BCBCBC;
	padding-top: 10px;
  	position: absolute;
  	right: 0;bottom:0;left:0;
}
#content{
	width: 70%;
	margin-left: 15%;
	text-align: center;
	float: bottom;
}
