*{
	margin: 0;
}
a{
	text-decoration: none;
	color: #337AF7;
}
label{
	font-size: 15px;
	opacity: 0.8;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 45px;
	font-size: 20px;
	background-color: #4181F0;
	color: white;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	transition: 0.2s all;
	display: block;
	text-align: center;
	padding-top: 5px;	
}
.button:active {
	transform: scale(0.98);	
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);       
}
.input{
	width: 99%;
	height: 35px;
	font-size: 17px;
	background-color: #E0E8F4;
	border-radius: 4px;
	border: 1px solid #D0D1D3;	
}
.input:focus{
    outline: none;
    border-color: #9ABFFF;
    box-shadow: 0 0 10px #9ABFFF;
}
#right{
	width: 30%;
	position: absolute; top: 0px; bottom: 0px; left: auto; right: 0px;
	float: right;
	background-image: url('curry.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#left{
	width: 70%;
	float: left;
	position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;
	text-align: center;
	background-color: white;	
	font-family: helvetica;
	line-height: 30px;
}
#woba{
	width: 200px;
	height: 170px;
	margin-top: 10px;
}
#leftp1{
	margin-top: -15px;
	font-weight: bold;
	font-size: 25px;
}
#leftp2{
	font-weight: bold;
}
#leftform{
	margin-top: 10px;
	margin-left: 270px;
	margin-right: 270px;
	text-align: left;
	line-height: 40px;
}
#checkbox{
	margin-top: 20px;
	width: 20px;
}
#leftformp1{
	opacity: 0.8;
}
#leftforma1{
	margin-left: 146px;
	font-size: 15px;
}
#rightp1{
	margin-top: 7cm;
	font-size: 30px;
	font-family: helvetica;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	margin-right: 7px;
	margin-left: 3px;
}
#step{
	margin-top: 10px;
	font-weight: bold;
	color: yellow;
	font-family: helvetica;
	font-size: 17px;
}