*{
	margin: 0;
}
#header{
	width: auto;
	height: 65px;
	background-color: whitesmoke;
	text-align: right;
	padding-top: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .7;
}
#woba{
	width: 110px;
	height: 70px;
	position: absolute; top: 2%; left: 5%;
}
ul{
	list-style: none;
	font-size: 20px;
	font-family: sans-serif;
}
li{
	display: inline;
	margin-right: 50px;
}
a{
	text-decoration: none;
	color: black;
}
#trio{
	width: 620px;
	margin-top: 5%;
}
#left{
	width: 40%;
	height: 500px;
	float: left;
	margin-top: 1%;
	padding-left: 5%;
}
#right{
	width: 49%;
	float: right;
	height: 500px;
	margin-top: 1%;
	font-family: sans-serif;
}
#rightp1{
	margin-top: 30px;
	margin-left: 10px;
	font-size: 85px;
	font-weight: bold;
}
#rightp2{
	font-style: italic;
	color: #414142;
	line-height: 27px;
	margin-top: 10px;
	text-align: center;
}
.rightbutton{
	  margin-left: 285px;
	  margin-top: 30px;
	  width: 97px;
	  height: 47px;
	  text-align: center;
	  font-family: sans-serif;
	  font-size: 17px;
	  border-radius: 30px;
	  border: none;
	  color: white;
	  background-color: #f4511e;
	  font-weight: bold;
	  cursor: pointer;
	  box-shadow: 0px 7px darkgray;
}
.rightbutton:hover{
	background-color: #8C480B;
}
.rightbutton:active{
  background-color: #8C480B;
  box-shadow: 0px 7px darkgray;
  transform: translateY(2px);
}